.button {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
}

.content-container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: whitesmoke;
}


.content-container div {
    padding: 10px;
}

/* TextView */

.deleted {
    background: #ffaa00;
  }

.lineContentDel {
    background: #ffd9b3;
    vertical-align: top;
    text-align: left;
}

.lineContentAdd {
    background: #b3ffe6;
    vertical-align: top;
    text-align: left;
}

.textView {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.textCompare {
    width: 100%;
    background-color: white;
  }

.welcome {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.text-input-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px;
}

textarea {
    width: 95%;
    height: 200px;
    margin: 10px;
}

.text-view-container {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px;
}