.button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
}

.button-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
    height: 100px;
}

.content-container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    min-height: 500px;
    margin: 100px auto 40px auto;
    border-radius: 20px;
    background-color: whitesmoke;
}

td {
    max-width: 400px;
    width: 100%;
    padding: 0px;
}

.added {
    background: #66ffcc;
  }

.deleted {
    background: #ffaa00;
  }

.lineContentDel {
    background: #ffd9b3;
    vertical-align: top;
    text-align: left;
}

.lineContentAdd {
    background: #b3ffe6;
    vertical-align: top;
    text-align: left;
}

.textView {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.textCompare {
    width: 97%;
    background-color: white;
  }

.welcome {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.text-input-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 50px 10px 50px;
}

textarea {
    width: 95%;
    height: 200px;
    margin: 10px;
}

.text-view-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px 0px 40px 55px;
}

.additions {
    background: #00ffcc;
}

.removed {
    background: #ffb366;
}

.removedDiv {
    display: inline-block;
    margin-right: 10px;
    padding: 0px 2px;
  }

.addDiv {
    display: inline-block;
    margin-right: 10px;
    padding: 0px 2px;
}

.stats {
    width: 90%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: 10px 10px 0px 60px;
    text-align: left;
}

.statsClass {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }